
{% extends "./base.html" %}

{% block title %} Consumo Api {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestion de API</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarMarca/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid_marca" name="txtid_marca" class="form-control" placeholder="id_marca"
                             maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtActivo" name="txtActivo" class="form-control" placeholder="Activo"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtitem_ya_usado" name="txtitem_ya_usado" class="form-control" placeholder="item ya usado"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>API</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>id_marca</th>
                        <th>nombre</th>
                        <th>activo</th>
                        <th>item_ya_usado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in marca %}
                    <tr>
                        <td>{{ m.id }}</td>
                        <td>{{ m.id_marca }}</td>
                        <td>{{ m.nombre }}</td>
                        <td>{{ m.activo }}</td>
                        <td>{{ m.item_ya_usado }}</td>
                        <td><a href="edicionMarca/{{m.id_marca}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarMarca/{{m.id_marca}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}